@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --imperial-red: #e43b3bff;
    --jet: #2c2c2cff;
    --creamy-white: rgb(255, 253, 239);
    --earth-yellow: #dba159ff;
    --air-force-blue: #568ea3ff;
    --verde: #5fb75f;
}

html {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

r {
    display: inline;
    color: var(--imperial-red);
    font-weight: 700;
}

header {
    box-shadow: 0px 5px 18px -6px rgba(0,0,0,0.75);
}

footer {
    box-shadow: 0px -5px 18px -6px rgba(0,0,0,0.75);
}

@media only screen and
    (max-width: 768px) {

    header {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: var(--imperial-red);
    color: var(--creamy-white);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 2;

    h1 {
        padding-left: 25px;
    }

    svg {
        height: 70px;
        width: 70px;
        padding-right: 25px;
        
        path {
            fill: var(--creamy-white);
        }

    }

}

.unmute-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1.5;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

main {
    display: grid;
    text-align: center;
    grid-template: calc(100vh - 170px) 300px 300px 500px 500px / 1fr;
    background-color: var(--creamy-white);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    > div:nth-child(even) {
        background-color: var(--imperial-red);

        r {
            color: var(--creamy-white);
        }
    }

    #whoWeAre {
        position: relative;
        overflow: hidden;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }

        h2 {
            position: relative;
            z-index: 1;
            padding: 15px 0;
            color: #fff;

            ::before {
                content: ""; /* Required for pseudo-elements */
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000066;
                filter: blur(30px);
                z-index: -1; /* Ensure it is behind the actual content */
            }
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    .animation {

        font-size: large;
        
        #controcoroText {
            padding-top: 0px;
            font-size: x-large;
            font-weight: 700;
        }
    }

    #quanti, #chartContainer {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    #countup {
        font-size: xxx-large;
        font-weight: 700;
        letter-spacing: 2.5px;
    }

    #chartContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            padding-top: 20px
        }

        canvas {
            height: 50%;
            width: 50%;
            padding: 10px 20px 20px 20px;
        }
    }

}

#chartContainer {
    width: 70%;
    max-width: 600px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 5px;
    align-items: center;
    color: var(--creamy-white);
    background-color: var(--imperial-red);
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 70px;

    a {
        text-decoration: underline dotted;
        color: var(--earth-yellow);
        font-weight: 600;
    }

    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--creamy-white);
        }

        .harmony {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-bottom: 10px;

            svg {
                height: 45px;
                width: 45px;
                padding-left: 15px;
            }
        }

        .card {
            cursor: pointer;

            display: flex;
            flex-direction: row;
            align-items: center;
            height: 75px;

            background-color: var(--air-force-blue);
            color: var(--creamy-white);
            font-weight: 600;
            font-size: 13px;

            border: none;
            border-radius: 10px;
            box-shadow: -4px 5px 8px #00000036;


            padding: 0 10px 0 10px;

            svg, path {
                height: 30px;
                width: 30px;
                padding: 0 15px 0 10px;
                fill: var(--creamy-white)
            }

            .details {
                padding-right: 15px;
            }


            .details.address p::before {
                content: "Via di S. Croce \A in Gerusalemme, 55 \a (Roma, RM) c/o Spin Time";
                white-space: pre-wrap;
            }

        }

        .card:hover {
            
            background-color: rgb(37, 117, 147);
            transition: all 0.4s ease-out;
            box-shadow: -6px 7px 5px #0000008f;
        }

        .ig {
            background: #833ab4;
            background: linear-gradient(
                to right,
                #833ab4,#fd1d1d,#fcb045
                );
                transition: all 0.4s ease-out;
            }

        .wapp {
            background-color: var(--verde);
        }

        .wapp:hover {
            background-color: #389538;
        }
    }


    
}

    header {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: var(--imperial-red);
    color: var(--creamy-white);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 2;

        h1 {
            padding-left: 30px;
            font-size: 40px;
        }

        svg {
            height: 70px;
            width: 70px;
            padding-right: 25px;
            
            path {
                fill: var(--creamy-white);
            }

        }

    }

    .unmute-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 1.5;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
    }

    main {
        display: grid;
        text-align: center;
        grid-template: calc(100vh - 170px) 300px 300px 500px 500px / 1fr;
        background-color: var(--creamy-white);

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        > div:nth-child(even) {
            background-color: var(--imperial-red);

            r {
                color: var(--creamy-white);
            }
        }

        #whoWeAre {
            position: relative;
            overflow: hidden;
            background-color: var(--jet);

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit:scale-down;
                z-index: 0;
            }

            h2 {
                position: relative;
                z-index: 1;
                padding: 15px 0;
                color: #fff;

                ::before {
                    content: ""; /* Required for pseudo-elements */
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #00000036;
                    filter: blur(30px);
                    z-index: -1; /* Ensure it is behind the actual content */
                }
            }

            img {
                height: 30px;
                width: 30px;
            }
        }

        .animation {

            font-size: xx-large;
            
            #controcoroText {
                padding-top: 0px;
                font-size: xxx-large;
                font-weight: 700;
            }
        }

        #quanti, #chartContainer {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        #quanti {
            h2 {
            font-size: xx-large;
            }
        }

        #countup {
            font-size: xxx-large;
            font-weight: 700;
            letter-spacing: 2.5px;
        }

        #chartContainer {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                padding-top: 20px;
                font-size:2em;
            }

            canvas {
                max-height: 400px;
                max-width: 400px;
                padding: 10px 20px 20px 20px;
            }
        }

    }

    footer {
        display: flex;
        flex-direction: column;
        position: sticky;
        bottom: 0;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 5px;
        align-items: center;
        color: var(--creamy-white);
        background-color: var(--imperial-red);
        width: 100%;
        padding: 10px 0 0 0;

        a {
            text-decoration: underline dotted;
            color: var(--earth-yellow);
            font-weight: 600;
        }
    }

    footer div:last-child {
        padding-bottom: 10px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--creamy-white);
        }

        .harmony {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-bottom: 10px;

            h2 {
                font-size: 40px;
            }

            svg {
                height: 60px;
                width: 60px;
                align-self: flex-end;
                padding-left: 18px;
            }
        }

        .card {
            cursor: pointer;

            display: flex;
            flex-direction: row;
            align-items: center;
            height: 75px;

            background-color: var(--air-force-blue);
            color: var(--creamy-white);
            font-weight: 600;

            border: none;
            border-radius: 10px;
            box-shadow: -4px 5px 8px #00000036;

            svg, path {
                height: 50px;
                width: 50px;
                padding: 0 10px 0 10px;
                fill: var(--creamy-white)
            }

            .details {
                width: 400px;
                font-size: larger;
                padding-right: 15px;
            }

            .details.address p::before {
                content: "Via di S. Croce in Gerusalemme, 55 (Roma, RM) c/o Spin Time";
            }
        }

        .card:hover {
            
            background-color: rgb(37, 117, 147);
            transition: all 0.4s ease-out;
            box-shadow: -6px 7px 5px #0000008f;
        }

        .ig {
            background: #833ab4;
            background: linear-gradient(
                to right,
                #833ab4,#fd1d1d,#fcb045
                );
                transition: all 0.4s ease-out;
            }

        .wapp {
            background-color: var(--verde);
        }

        .wapp:hover {
            background-color: #389538;
        }
    }

  